@import "reset";

@mixin line {
  height: 2px;
  background-color: $main-color;
  margin: 8px 9px;
  border: none;
}


$logo-width: 115px;
$logo-height: 76px;
$hover-color: #D5C5AA;
$hover: 0.2s;
$main-color: #00ace9;
$dark-bg-color: #eee;


/* Header */

.header {
  height: 765px;
  max-height: 100vh;
  background: url('../images/header.jpg');
  background-size: cover;
  background-position: center;
  position: relative;

  &__menu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
  }
  
  &__container {
  display: flex;
  position: absolute;
  top: 35px;
  left: calc(50% - #{$logo-width}/2);
  }
  
  &__number {
  color: #fff;
  margin: 0 82px;
  text-decoration: none;
  height: max-content;
  }
  
  &__link {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  transition: color $hover;
  border-bottom: 1px dashed #fff;
  height: max-content;
  padding-bottom: 3px;

  &:hover {
    color: $hover-color;
  }
}

  &__number, 
  &__link {
    position: relative;
    top: $logo-height * 0.62;
    white-space: nowrap;
  }
}

.logo {
  width: $logo-width;
  height: $logo-height;
}

.menu {
  &__list {
    white-space: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
  }

  &__item {
    margin: 0 23px;
    padding: 7px 20px;

    &_active {
      background: $hover-color;
      border-radius: 10px;
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;

    &:hover {
      color: $hover-color;
      transition: color $hover;
    }
  }
}

/* Info */

.section {
  padding: 156px calc(50% - 470px);  
} 

.info {
  display: flex;
  justify-content: space-between;

  &__heading {
    font-size: 48px;
    text-transform: uppercase;
    line-height: 60px;
    width: 314px;
    font-weight: 300;
    margin: 0;
  }  
  
  &__text {
    max-width: 564px;
    line-height: 24px;
    font-weight: 300;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }
}

.highlight-word {
  color: $main-color;
}


/* Gallery */

.section_gallery {
  background-color: $dark-bg-color;
  position: relative;
}

.section {
  &__heading {
    font-size: 48px;
    text-transform: uppercase;
    line-height: 48px;
    font-weight: 300;
    text-align: center;
    height: 48px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: -66px;
  }

  &__underline {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    justify-content: center;
    top: 20px;
  }

  &__line {
    width: 75px;
    @include line();
    
  }

  &__icon {
    width: 23px;
    height: 16px;
    padding-top: 5px;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  height: 940px;

  &__first-row,
  &__second-row,
  &__third-row {
    display: flex;
  }

  &__first-row img {
    height: 263px;
  }

  &__second-row img {
    height: 261px;
  }

  &__third-row img {
    height: 260px;
  }

  &__photo-1 {
    width: 624px;
    margin-right: 16px;
  }

  &__photo-2 {
    width: 303px;
  }
  
  &__photo-3 {
    width: 462px;
    margin-right: 20px;
  }

  &__photo-4 {
    width: 462px;
  }

  &__photo-5 {
    width: 301px;
    margin-right: 19px;
  }

  &__photo-6 {
    width: 620px;
  }

  &__description {
    margin: 12px 0 35px 0;
    font-size: 16px;
    font-weight: 500;
  }

  &__link {
    text-decoration: none;
    color: $main-color;
  }

  &__button {
    display: flex;
    justify-content: center;
  }

  &__btn {
    width: 188px;
    height: 52px;
    margin-top: 63px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: $main-color;
    cursor: pointer;
  }
}


/* Consultation */

.section_consultation {
  position: relative;
}

.section__consult_line {
  width: 144px;
  @include line();
}

.consultation {
  display: flex;

  &__description {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
    margin: 0 0 24px 0;
    width: max-content;
  }

  &__text {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    width: 470px;
  }

  &__form {
    margin-left: 72px;
    display: flex;
    flex-direction: column;
  }

  &__input {
    background-color: $dark-bg-color;
    width: 383px;
    height: 54px;
    margin-bottom: 10px;
    border: none;
    font-size: 14px;

    &::placeholder {
      text-align: center;
      font-size: 14px;
      color: #393939;
      text-transform: uppercase;
    }
  }

  &__btn {
    width: 383px;
    height: 54px;
    background-color: $main-color;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
}


/* Testimonials */

.section_testimonials {
  background: $dark-bg-color;
  position: relative;
}

.section__testimonials_line {
  @include line();
  width: 135px;
}

.testimonials {
  display: flex;
  width: max-content;
  position: relative;
  margin: 0 auto;

  &__photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 12px;
  }

  &__person-1,
  &__person-2,
  &__person-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 70px;
  }

  &__person-1 {
    padding-left: 0;
  }

  &__person-3 {
    padding-right: 0;
  }

  &__names {
    text-align: center;
    font-size: 16px;
  } 

  &__quote {
    position: absolute;
    left: -15px;
    top: 200px;
  }

  &__quote-1 {
    position: absolute;
    left: 315px;
    top: 200px;
  }

  &__quote-2 {
    position: absolute;
    right: 185px;
    top: 200px;
  }

  &__message {
    width: 200px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
  }  

}

.job {
  font-style: italic;
  color: #696972;
  padding: 5px 0 7px 0;
}


/* Contacts */

.section_contacts {
   position: relative;
}

.section__contacts_line {
  @include line();
  width: 115px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: -40px;

  &__points {
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    margin-top: 0;
  }

  &__form {
    width: 379px;
    display: flex;
    flex-direction: column;
  }

  &__input,
  &__textarea {
    background: $dark-bg-color;
    border: none;
    margin-bottom: 7px;
    width: 372px;
    height: 54px;
    padding: 5px;
    font-size: 14px;

    &::placeholder {
      text-align: center;
      padding-top: 10px;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  &__textarea {
    margin-bottom: 8px;
    width: 372px;
    height: 166px;
    resize: none;
  }

  &__btn {
    background: #2F80ED;
    border: none;
    width: 382px;
    height: 54px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
}

/* Footer */

.footer {
  height: 540px;
  background: url(../images/footer.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;

  &__logo {
    position: absolute;
    bottom: 95px;
    margin: auto;
    left: 0;
    right: 0;
  }
}


/* Media */

@media screen and (max-width: 999px) {  
  .menu__list {
    flex-direction: column;
    align-items: center;
  }
  
  .header {
    &__container {
    flex-direction: column;
    align-items: center;  
    }

    &__number {
      margin: 20px 0 10px;
    }

    &__number, 
    &__link {
      top: 0;
    }
  }

  .section {
    padding: 20px 40px;
  }

  .info {
    flex-direction: column;
    margin-bottom: 60px;
    text-align: center;
    align-items: center;

    &__heading {
      margin-bottom: 15px;
      width: 100%;
    }
  }

  .gallery {
    height: auto;
    align-items: center;
    
    &__first-row,
    &__second-row,
    &__third-row {
      flex-direction: column;

      & img {
        width: 350px;
        height: auto;
        margin-bottom: 15px;
      }
    }

    &__btn {
      margin: 25px 0 70px;
    }
  }

  .heading {
    margin-bottom: 55px;
  }

  .consult__heading {
    margin-bottom: 80px;
  }

  .consultation {
    margin-bottom: 40px;
    flex-direction: column;
    align-items: center;
    
    &__heading {
      text-align: center;
      padding-left: 80px;
    }

    &__text {
      text-align: center;
      max-width: 85%;
      margin: 0 auto;
    }

    &__form {
      margin: 50px 0 30px;
    }
  }

  .testimonials {
    margin: 60px auto;
    flex-direction: column;

    &__person-1,
    &__person-2,
    &__person-3 {
      padding-bottom: 20px;
    }

    &__person-1 {
      padding-left: 70px; 
    }

    &__person-3 {
      padding-right: 70px;
    }

    &__quote {
      left: 45px;
    }

    &__quote-1 {
      top: 530px;
      left: 45px;
    }

    &__quote-2 {
      top: 960px;
      left: 55px;
    }
  }

  .section_contacts {
    max-height: 520px;
  }

  .contacts {
    margin-top: 70px;
    flex-direction: column;
    align-items: center;

    &__info {
      margin-bottom: 30px;
      text-align: center;
    }
  }

  .footer {
    margin-top: 250px;
  }
}
