* {
  outline: none;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

strong {
  font-weight: 500;
}

.header {
  height: 765px;
  max-height: 100vh;
  background: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.header__menu {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;
}
.header__container {
  display: flex;
  position: absolute;
  top: 35px;
  left: calc(50% - 115px/2);
}
.header__number {
  color: #fff;
  margin: 0 82px;
  text-decoration: none;
  height: max-content;
}
.header__link {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  transition: color 0.2s;
  border-bottom: 1px dashed #fff;
  height: max-content;
  padding-bottom: 3px;
}
.header__link:hover {
  color: #D5C5AA;
}
.header__number, .header__link {
  position: relative;
  top: 47.12px;
  white-space: nowrap;
}

.logo {
  width: 115px;
  height: 76px;
}

.menu__list {
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
}
.menu__item {
  margin: 0 23px;
  padding: 7px 20px;
}
.menu__item_active {
  background: #D5C5AA;
  border-radius: 10px;
}
.menu__item_active a {
  color: #000;
}
.menu__item_active a:hover {
  color: #fff;
}
.menu__link {
  text-decoration: none;
  color: #fff;
}
.menu__link:hover {
  color: #D5C5AA;
  transition: color 0.2s;
}

.section {
  padding: 156px calc(50% - 470px);
}

.info {
  display: flex;
  justify-content: space-between;
}
.info__heading {
  font-size: 48px;
  text-transform: uppercase;
  line-height: 60px;
  width: 314px;
  font-weight: 300;
  margin: 0;
}
.info__text {
  max-width: 564px;
  line-height: 24px;
  font-weight: 300;
}
.info__text > :first-child {
  margin-top: 0;
}
.info__text > :last-child {
  margin-bottom: 0;
}

.highlight-word {
  color: #00ace9;
}

.section_gallery {
  background-color: #eee;
  position: relative;
}

.section__heading {
  font-size: 48px;
  text-transform: uppercase;
  line-height: 48px;
  font-weight: 300;
  text-align: center;
  height: 48px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: -66px;
}
.section__underline {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  justify-content: center;
  top: 20px;
}
.section__line {
  width: 75px;
  height: 2px;
  background-color: #00ace9;
  margin: 8px 9px;
  border: none;
}
.section__icon {
  width: 23px;
  height: 16px;
  padding-top: 5px;
}

.gallery {
  display: flex;
  flex-direction: column;
  height: 940px;
}
.gallery__first-row, .gallery__second-row, .gallery__third-row {
  display: flex;
}
.gallery__first-row img {
  height: 263px;
}
.gallery__second-row img {
  height: 261px;
}
.gallery__third-row img {
  height: 260px;
}
.gallery__photo-1, .gallery__photo-2, .gallery__photo-3, .gallery__photo-4, .gallery__photo-5, .gallery__photo-6 {
  transition: border-radius 1s;
}
.gallery__photo-1:hover, .gallery__photo-2:hover, .gallery__photo-3:hover, .gallery__photo-4:hover, .gallery__photo-5:hover, .gallery__photo-6:hover {
  border-radius: 40px;
}
.gallery__photo-1 {
  width: 624px;
  margin-right: 16px;
}
.gallery__photo-2 {
  width: 303px;
}
.gallery__photo-3 {
  width: 462px;
  margin-right: 20px;
}
.gallery__photo-4 {
  width: 462px;
}
.gallery__photo-5 {
  width: 301px;
  margin-right: 19px;
}
.gallery__photo-6 {
  width: 620px;
}
.gallery__description {
  margin: 12px 0 35px 0;
  font-size: 16px;
  font-weight: 500;
}
.gallery__link {
  text-decoration: none;
  color: #00ace9;
}
.gallery__button {
  display: flex;
  justify-content: center;
}
.gallery__btn {
  width: 188px;
  height: 52px;
  margin-top: 63px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #00ace9;
  border: 1px solid #00ace9;
  cursor: pointer;
  transition: background-color 1s, color 1s;
}
.gallery__btn:hover {
  border: 1px solid #00ace9;
  background-color: #fff;
  color: #00ace9;
}

.section_consultation {
  position: relative;
}

.section__consult_line {
  width: 144px;
  height: 2px;
  background-color: #00ace9;
  margin: 8px 9px;
  border: none;
}

.consultation {
  display: flex;
}
.consultation__description {
  display: flex;
  flex-direction: column;
}
.consultation__heading {
  font-size: 32px;
  line-height: 40px;
  font-weight: 300;
  margin: 0 0 24px 0;
  width: max-content;
}
.consultation__text {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  width: 470px;
}
.consultation__form {
  margin-left: 72px;
  display: flex;
  flex-direction: column;
}
.consultation__input {
  background-color: #eee;
  width: 383px;
  height: 54px;
  margin-bottom: 10px;
  border: none;
  font-size: 14px;
  padding-left: 10px;
  border: 1px solid #eee;
}
.consultation__input::placeholder {
  text-align: center;
  font-size: 14px;
  color: #393939;
  text-transform: uppercase;
}
.consultation__input:focus {
  border: 1px solid #00ace9;
}
.consultation__btn {
  width: 396px;
  height: 54px;
  background-color: #00ace9;
  border: 1px solid #00ace9;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: background-color 1s, color 1s;
}
.consultation__btn:hover {
  border: 1px solid #00ace9;
  background-color: #fff;
  color: #00ace9;
}
.consultation__btn:focus {
  opacity: 0.7;
}

.section_testimonials {
  background: #eee;
  position: relative;
}

.section__testimonials_line {
  height: 2px;
  background-color: #00ace9;
  margin: 8px 9px;
  border: none;
  width: 135px;
}

.testimonials {
  display: flex;
  width: max-content;
  position: relative;
  margin: 0 auto;
}
.testimonials__photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 12px;
}
.testimonials__person-1, .testimonials__person-2, .testimonials__person-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 70px;
  position: relative;
}
.testimonials__person-1 {
  padding-left: 0;
}
.testimonials__person-3 {
  padding-right: 0;
}
.testimonials__names {
  text-align: center;
  font-size: 16px;
}
.testimonials__message {
  width: 200px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  position: relative;
  transition: transform 1s;
}
.testimonials__message:hover {
  transform: scale(1.1);
}
.testimonials__message::before {
  content: "";
  display: block;
  background: url(../images/quote.png) no-repeat;
  position: absolute;
  top: -28px;
  left: -20px;
  width: 43px;
  height: 43px;
}

.job {
  font-style: italic;
  color: #696972;
  padding: 5px 0 7px 0;
  width: 150px;
  text-align: center;
}

.section_contacts {
  position: relative;
}

.section__contacts_line {
  height: 2px;
  background-color: #00ace9;
  margin: 8px 9px;
  border: none;
  width: 115px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: -40px;
}
.contacts__points {
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  margin-top: 0;
}
.contacts__form {
  width: 379px;
  display: flex;
  flex-direction: column;
}
.contacts__input, .contacts__textarea {
  background: #eee;
  border: none;
  margin-bottom: 7px;
  width: 372px;
  height: 54px;
  padding-left: 10px;
  font-size: 14px;
  border: 1px solid #eee;
}
.contacts__input::placeholder, .contacts__textarea::placeholder {
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.contacts__input:focus, .contacts__textarea:focus {
  border: 1px solid #00ace9;
}
.contacts__textarea {
  margin-bottom: 8px;
  width: 372px;
  height: 166px;
  resize: none;
  padding-top: 10px;
}
.contacts__btn {
  background: #2F80ED;
  border: 1px solid #2F80ED;
  border: none;
  width: 386px;
  height: 54px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 1s, color 1s;
}
.contacts__btn:hover {
  border: 1px solid #2F80ED;
  background-color: #fff;
  color: #2F80ED;
}
.contacts__btn:focus {
  opacity: 0.7;
}

.footer {
  height: 540px;
  background: url(../images/footer.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.footer__logo {
  position: absolute;
  bottom: 95px;
  margin: auto;
  left: 0;
  right: 0;
}

@media screen and (max-width: 999px) {
  .menu__list {
    flex-direction: column;
    align-items: center;
  }

  .header__container {
    flex-direction: column;
    align-items: center;
  }
  .header__number {
    margin: 20px 0 10px;
  }
  .header__number, .header__link {
    top: 0;
  }

  .section {
    padding: 20px 40px;
  }

  .info {
    flex-direction: column;
    margin-bottom: 60px;
    text-align: center;
    align-items: center;
  }
  .info__heading {
    margin-bottom: 15px;
    width: 100%;
  }

  .gallery {
    height: auto;
    align-items: center;
  }
  .gallery__first-row, .gallery__second-row, .gallery__third-row {
    flex-direction: column;
  }
  .gallery__first-row img, .gallery__second-row img, .gallery__third-row img {
    width: 350px;
    min-height: 250px;
    margin-bottom: 15px;
  }
  .gallery__btn {
    margin: 25px 0 70px;
  }

  .heading {
    margin-bottom: 55px;
  }

  .consult__heading {
    margin-bottom: 80px;
  }

  .consultation {
    margin-bottom: 40px;
    flex-direction: column;
    align-items: center;
  }
  .consultation__heading {
    text-align: center;
    padding-left: 80px;
  }
  .consultation__text {
    text-align: center;
    max-width: 85%;
    margin: 0 auto;
  }
  .consultation__form {
    margin: 50px 0 30px;
  }

  .testimonials {
    margin: 60px auto;
    flex-direction: column;
  }
  .testimonials__person-1, .testimonials__person-2, .testimonials__person-3 {
    padding-bottom: 20px;
  }
  .testimonials__person-1 {
    padding-left: 70px;
  }
  .testimonials__person-3 {
    padding-right: 70px;
  }

  .section_contacts {
    max-height: 520px;
  }

  .contacts {
    margin-top: 70px;
    flex-direction: column;
    align-items: center;
  }
  .contacts__info {
    margin-bottom: 30px;
    text-align: center;
  }

  .footer {
    margin-top: 250px;
  }
}
@media screen and (max-width: 399px) {
  .section__heading {
    font-size: 25px;
    top: -45px;
    left: 10px;
  }

  .section__underline {
    width: 60%;
    left: 22%;
    top: 10px;
  }

  .gallery__first-row img, .gallery__second-row img, .gallery__third-row img {
    width: 300px;
    height: 150px;
    margin: 0 auto 15px;
  }

  .consultation {
    margin-top: 10px;
  }
  .consultation__heading {
    font-size: 28px;
    padding-left: 0;
  }
  .consultation__text {
    max-width: 250px;
  }
  .consultation__input {
    width: 280px;
  }
  .consultation__btn {
    width: 285px;
  }

  .testimonials__person-1, .testimonials__person-2, .testimonials__person-3 {
    padding: 0 0 20px;
  }

  .contacts__form {
    width: 290px;
  }
  .contacts__input, .contacts__textarea {
    width: 280px;
  }
  .contacts__input::placeholder, .contacts__textarea::placeholder {
    padding-top: 5px;
  }
  .contacts__btn {
    width: 290px;
  }
}

/*# sourceMappingURL=style.css.map */
